# Derleme çıktıları
bin/
obj/
artifacts/
publish/

# IDE klasörleri
.vs/
.idea/
.vscode/

# Kullanıcı/IDE dosyaları
*.user
*.suo
*.sln.docstates
*.csproj.user
*.vbproj.user
*.DotSettings.user

# OS geçicileri
.DS_Store
Thumbs.db
